<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- Load the URDF into the ROS Parameter Server -->
  <param name="robot_description"
    command="$(find xacro)/xacro --inorder '$(find arboc_description)/urdf/arboc.urdf'" />

  <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
    args="-z 0.7 -urdf -model arboc -param robot_description"/>

</launch>